<footer class="bg-dark text-light py-4 mt-5">
  <!-- Container do Footer -->
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>🌎​ Planeta em Foco</h5>
        <p>
          Projeto acadêmico sobre ODS 13 - Ação contra a Mudança Global do Clima
        </p>
      </div>
      <div class="col-md-4">
        <h5 class="text-start">Links Úteis</h5>
        <ul class="list-unstyled text-start">
          <li>
            <a
              href="https://brasil.un.org/pt-br/sdgs"
              target="_blank"
              class="text-light text-decoration-none"
              >ONU Brasil - ODS</a
            >
          </li>
          <li>
            <a
              href="https://www.ipcc.ch/"
              target="_blank"
              class="text-light text-decoration-none"
              >IPCC - Painel do Clima</a
            >
          </li>
          <li>
            <a
              href="https://www.gov.br/mma/pt-br"
              target="_blank"
              class="text-light text-decoration-none"
              >Ministério do Meio Ambiente</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-start">Equipe</h5>
        <ul class="list-unstyled text-start">
          <li>Alerrandro Carvalho de Sousa</li>
          <li>André Edson da Silva Carvalho</li>
          <li>Ernandes Silva Sousa</li>
          <li>Joabe Lima da Silva</li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="text-center small mb-0">
      &copy; 2026 Planeta em Foco. Todos os direitos reservados.
      <br />Imagens:
      <a
        href="https://unsplash.com"
        target="_blank"
        class="text-light text-decoration-none"
        >Unsplash</a
      >
      | Ícones:
      <a
        href="https://icons.getbootstrap.com/"
        target="_blank"
        class="text-light text-decoration-none"
        >Bootstrap Icons</a
      >
    </p>
  </div>
</footer>
